# $Id$
#
# All values shown commented out are the default values set in the
#  program.
# All values described in this file except for mycall can be set using
#  a command line option.

# Common section
# ==============
#
# use your HAM radio call sign
mycall=MYCALL

# Timeout in seconds
#timeout=120

# Use your internet email address
#email=login-name@localhost

# Winlink 2000 secure login password
# If you have a WL2K password and have enabled secure login,
# you must provide that password in order to successfully connect.
#wl2k-password=

# AX25 section
# ============
#
# Use an AX25 port configured in /etc/ax25ports
#ax25port=

# Telnet section
# ==============
#
# Hostnames can be server, sandiego, perth, halifax, wien
#  with a .winlink.org suffix.
#hostname=server.winlink.org

#port=8772

#targetcall=wl2k

#password=CMSTelnet

# Serial section
# ==============
#
#device=

#baud=

# modem defaults to PTC-IIpro, else choose P4dragon
#modem=

# wl2kax25d specific section
# ==========================
#
# Gridsquare locator
#gridsquare=XXyyzz

# Welcome message
#welcomemsg="Welcome to MYCALL's paclink-unix mailbox\r"
